input[type=text], input[type=password] {
    width: 188px;
	padding: 10px 25px;

    margin: 5px 0 2px 0;

	font-size: 14px;
	color:  rgb(45, 45, 47);
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
	
	background: #fff;
	border: 1px solid #fff;
	border-radius: 7px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

input[type=text]:hover, input[type=password]:hover {
    background: #dfe9ec;
	color: #9d9e9e;
}

input[type=button] {
    margin: 5px 20px;
    margin: 5px 20px;
    padding: 10px 40px;
    border-radius: 7px;
    border: 1px solid #9d9e9e;
    color: #9d9e9e;
}

input[type=submit] {
    background-color: transparent;
	margin: 5px 20px;
    display: inline-block;
    text-decoration: none;
    padding: 10px 40px;
    overflow: hidden;
    border: 1px solid rgb(108, 198, 81);
    border-radius: 7px;
    color: #fff;
    transition: .2s ease-in-out;
    animation: animate_button 2s infinite;
}

input[type=submit]:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}

input[type=submit]:hover {
    animation: none;
    background: linear-gradient(135deg, rgb(71, 185, 214), rgb(100, 228, 41), rgb(108, 198, 81));
    color: #fff;
}

input[type=submit]:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
}

@keyframes animate_button {
    0% {
		box-shadow: 0 0 0 0 rgba(108, 198, 81, 0.5);
	}
	70% {
		box-shadow: 0 0 0 13px rgba(228, 25, 49, 0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(228, 25, 49, 0);
	}
}

.example-1 .form-group{
    padding:1em;
    margin:1em;
}
.example-1 input[type=file]{
    outline:0;
    opacity:0;
    pointer-events:none;
    user-select:none
}
.example-1 .label{
    margin: 30px auto 0 auto;
    width:180px;
    height: 180px;
    border:2px dashed #a0a0a0;
    border-radius:5px;
    display:block;
    padding: 2.8em;
    transition:border 300ms ease;
    cursor:pointer;
    text-align:center
}
.example-1 .label i{
    display:block;
    font-size:42px;
    padding-bottom:16px
}
.example-1 .label i,.example-1 .label .title{
    color:#a0a0a0;
    transition:200ms color
}
.example-1 .label:hover{
    border:2px solid #99cbff;
}
.example-1 .label:hover i,.example-1 .label:hover .title{
    background:  #99cbff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.example-1 #file-chosen {
    color:#a0a0a0;
}
